{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="asset_name" placeholder="Asset_Name" value="{{ entry.asset_name }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="format" placeholder="File_Format" value="{{ entry.format }}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="source" placeholder="File Source" value="{{ entry.source }}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="full_description" cols="100"
                                      placeholder="Full Description of Item" required> {{ entry.full_description }} </textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
